.titre {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.Cards {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  zoom: 2.25;
}
.css-a0n6xq {
  zoom: 1.9;
  width: 35vw !important;
  border-radius: 10px !important;
}

.ValoModalChallenge,
.FTModalChallenge,
.CS2ModalChallenge,
.LOLModalChallenge {
  .css-a0n6xq {
    padding: 10px !important;
  }
}

.RLModalChallenge,
.MCModalChallenge {
  .css-a0n6xq {
    padding-top: 0px !important;
  }
}

.challenge_title {
  margin: 10px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}



@media(-webkit-device-pixel-ratio: 1.5){
  .css-1ri6ub7-MuiPaper-root-MuiCard-root {
    zoom: 1.48;
  }

  .ValoModalChallenge .css-a0n6xq,
  .RLModalChallenge .css-a0n6xq,
  .FTModalChallenge .css-a0n6xq,
  .CS2ModalChallenge .css-a0n6xq,
  .MCModalChallenge .css-a0n6xq,
  .LOLModalChallenge .css-a0n6xq {
    zoom: 1.25;
    width: 50vw !important;
  }

  .ValoModalChallenge .css-a0n6xq,
  .FTModalChallenge .css-a0n6xq,
  .CS2ModalChallenge .css-a0n6xq,
  .LOLModalChallenge .css-a0n6xq {
    padding: 0px !important;
  }

  .RLModalChallenge .css-a0n6xq,
  .MCModalChallenge .css-a0n6xq {
    padding-top: 0px !important;
  }

}


.CardsRow1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  background-color: #fff;
  .Card {
    margin: 1vh;
  }
}

.CardsRow2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  background-color: #fff;
  .Card {
    margin: 1vh;
  }
}

.RLBackgroundCard {
  background-color: #79AFEB !important;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px !important;
}

.MCBackgroundCardMystery {
  background-color: #0FAE05 !important;
  height: 10vh;
  margin-top: 2em !important;
  border-radius: 10px !important;
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0%);
}

.MCBackgroundCard {
  background-color: #DF7400 !important;
  height: 10vh;
  margin-top: 2em !important;
  border-radius: 10px !important;
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0%);
}

.css-46bh2p-MuiCardContent-root {
  padding: 0px !important;
}

.Click_Me {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 100%;
  text-align: center;
}

.Reveal_Challenge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 100%;
  text-align: center;
}

.Reveal_Challenge_Animation {
  animation: rotate 0.2s ease-in-out;
  background-color: #F5C75D !important;
}

.Click_Me_Mystery_Challenge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 100%;
  text-align: center;
}

.Reveal_Mystery_Challenge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 100%;
  text-align: center;
}

.hidden {
  display: none;
}

@media(-webkit-device-pixel-ratio: 1){
  .Reveal_Mystery_Challenge_Style {
    animation: fadeIn 0.2s ease-in-out;
    transform: scale(1.5);
  }

  .Reveal_Mystery_Challenge_Style_Back {
    background-color: #DF7400 !important;
    animation: rotateAndScale 0.2s ease-in-out;
    transform: rotateX(360deg) scale(1.5);
  }

  .Reveal_First_Choice_Challenge_Style {
    transform: scale(1.5);
    transition: transform .2s;
  }

  .Reveal_Second_Choice_Challenge_Style {
    transform: scale(1.5);
    transition: transform .2s;
  }

  .Dezoom_Challenge_Style {
    transform: scale(0.5);
    transition: transform .2s;
  }

  .Dezoom_Challenge_Up_Style {
    transform: scale(0.5) translate(0px, -8rem);
    transition: transform .2s;
  }

  .Dezoom_Challenge_Down_Style {
    transform: scale(0.5) translate(0px, 8rem);
    transition: transform 0.2s;
  }
}

@media(-webkit-device-pixel-ratio: 1.5){

  .Reveal_Mystery_Challenge_Style {
    transform: scale(1);
  }

  .Reveal_Mystery_Challenge_Style_Back {
    background-color: #DF7400 !important;
    animation: rotate 0.2s ease-in-out;
    transform: rotateX(360deg);
  }

  .Reveal_First_Choice_Challenge_Style {
    transform: scale(1);
  }

  .Reveal_Second_Choice_Challenge_Style {
    transform: scale(1);
  }

  .Dezoom_Challenge_Style {
    transform: scale(0.5);
    transition: transform .2s;
  }

  .Dezoom_Challenge_Up_Style {
    transform: scale(0.5);
    transition: transform .2s;
  }

  .Dezoom_Challenge_Down_Style {
    transform: scale(0.5);
    transition: transform 0.2s;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1.5);
  }
}

@keyframes rotateAndScale {
  from {
    transform: rotateX(360deg) scale(1.5);
  }
  to {
    transform: rotateX(0deg) scale(1.5);
  }
}

@keyframes rotate {
  from {
    transform: rotateX(360deg);
  }
  to {
    transform: rotateX(0deg);
  }
}