.titre
  font-family: sans-serif
  text-align: center
  display: flex
  flex-direction: column
  overflow: hidden
  align-items: center

.Cards
  display: flex
  flex-direction: column
  align-items: space-between
  justify-content: space-between
  height: 100%
  width: 100%
  background-color: #fff

.CardsRow1
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-around
  height: 100%
  width: 100%
  background-color: #fff
  .Card
    margin: 1vh

.CardsRow2
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-around
  height: 100%
  width: 100%
  background-color: #fff
  .Card
    margin: 1vh

.RLBackgroundCard
  background-color: #79AFEB !important
  height: 10vh
  display: flex
  justify-content: center
  align-items: center


.MCBackgroundCardMystery
  background-color: #0FAE05 !important
  height: 10vh
  margin-top: 2em !important

.MCBackgroundCard
  background-color: #DF7400 !important
  height: 10vh
  margin-top: 2em !important

.css-46bh2p-MuiCardContent-root
  padding: 0px !important

.Click_Me 
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  margin: 0
  width: 100%
  text-align: center



.Reveal_Challenge
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  margin: 0
  width: 100%
  text-align: center

.CircularProgress


.Click_Me_Mystery_Challenge
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  margin: 0
  width: 100%
  text-align: center

.Reveal_Mystery_Challenge
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  margin: 0
  width: 100%
  text-align: center

.CircularProgress_Mystery_Challenge
  position: absolute
  margin: 0
  width: 100%
  text-align: center

.hidden
  display: none
