.titre
  font-family: sans-serif
  text-align: center
  display: flex
  flex-direction: column
  overflow: hidden
  align-items: center

.Cards
  display: flex
  flex-direction: column
  align-items: space-between
  justify-content: space-between
  height: 100%
  width: 100%
  background-color: #fff

.CardsRow1
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-around
  height: 100%
  width: 100%
  background-color: #fff
  .Card
    margin: 1vh

.CardsRow2
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-around
  height: 100%
  width: 100%
  background-color: #fff
  .Card
    margin: 1vh

.RLBackgroundCard
  background-color: #79AFEB !important
  height: 8vh

.css-46bh2p-MuiCardContent-root
  padding: 0px !important

.Click_Me
  display: flex
  justify-content: center
  margin: 1vh

.Reveal_Challenge
  display: flex
  justify-content: center
  margin: 1vh

.CircularProgress
  display: flex
  justify-content: center
  margin: 1vh

.hidden
  display: none
