:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 27, 60; /* Bleu foncé */
  --background-end-rgb: 92, 127, 168; /* Bleu clair */
}

@font-face {
  font-family: 'f Finish';
  src: url('./assets/Font/fFinish.ttf');
}

html {
  background: linear-gradient(90deg, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
}

.App {
  display: flex;
  flex-direction: column;
  font-family: 'f Finish', sans-serif !important;
}

h1, h3, h5 {
  font-family: 'f Finish', sans-serif !important;
}

.mainTitre {
  font-size: 4rem;
  color: white;
  text-align: center;
}

.Title_Div {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.Logo {
  width: 100px;
  height: 100px;
  margin-top: 1rem;
}



@media(-webkit-device-pixel-ratio: 1.5){
  .mainTitre {
    font-size: 2rem;
  }
  .Logo {
    width: 75px;
    height: 75px;
    margin-top: 0.1rem;
  }
}