@font-face {
  font-family: 'f Finish';
  src: url('./assets/Font/fFinish.ttf');
}

body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: 'f Finish', sans-serif !important;
}

h1, h3, h5 {
  font-family: 'f Finish', sans-serif !important;
}  